:root{
    --colorscheme-bg: #1d1d2c;
    --colorscheme-fg: #f7f4e9;
    --colorscheme-red: #e40c2b;
    --colorscheme-cyan: #3cbcc3;
    --colorscheme-yellow: #eba63f;
    --colorscheme-green: #438945;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--colorscheme-bg);
    color: var(--colorscheme-fg);
}

main {
    color: var(--colorscheme-fg);
    max-width: 70%;
    min-width: 300px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
}

.boards-box {
    outline: 1px var(--colorscheme-red);
    padding-bottom: 0.5em;
}

.boards-title {
    border: 1px black;
}

.boards-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
    column-gap: 5px;
}

.boards-columns p {
    text-align: left;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #d1d1d1;
}

